/* Footer */
footer {
    background-color: #556578;
    color: white;
    padding: 30px;
    margin-top: auto;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0;
    font-size: 15.2px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 19.2px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #3182ce;
}